services:
  db:
    image: pgvector/pgvector:pg16
    container_name: db
    restart: unless-stopped
    env_file:
      - ./env/.env
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 20s
      timeout: 3s
      retries: 10

volumes:
  pgdata:
